// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.like{
  color:#e6004d;
}